body {
    margin: 0;
    padding: 0;
    font-family: 'Courier New', monospace;    
    text-align: center;
    display: grid;
    justify-items: center;
}

.header {
    display: grid;
    justify-items: center;
    margin: 20px;
    font-size: 1.3rem;
    text-align: left;
    line-height: 1.7rem;
}

.header > span {
    color: #44403c;
}

.icons i {
    font-size: 2rem;
}

.icons img {
    width: 30px;
    height: 30px;
}

.photo {
    position: relative;    
    background-image: url('./assets/worker.jpg');
    background-size: cover;
    background-position: center;
    width: 260px;
    height: 500px;
}

.photo span {
    position: absolute;
    bottom: 0;
    left: 5px;
    font-size: 3.3rem;
    line-height: 1;
}

.header .icons, .contact .icons {
    margin-top: 10px;
}

.work, .contact {
    margin-top: 60px;
}

.work h1 {
    margin: 0;
}

.card {
    box-shadow: 5px 5px 10px #44403c;
    margin-bottom: 60px;
    width: 280px;
    padding-bottom: 80px;
}

.card > img {
    width: 280px;
    height: 250px;
}

.card > div {
    display: grid;
    grid-auto-flow: column;
    margin-bottom: 20px;
}

.card span {
    font-size: 1.3rem;
}

.contact {
    background-color: #06b6d4;
    color: white;
    text-align: left;
    
   
}

.contact span {
    font-size: 1.3rem;
}

.contact h1 {
    text-align: center;
}

.contact > div {
    padding: 0 20px;
    padding-bottom: 80px;
}

.contact > div > div {
    display: grid;
    justify-content: center;
}

.contact .icons i {
    font-size: 3rem;
}

.contact .icons img {
    width: 48px;
    height: 48px;
}

.contact .icons * {
    margin-left: 20px;
}

.contact > img {
    width: 100vw;
    height: 500px;
}